.Ctrl {
  text-align: center;
  margin-top: 3ex;
}

.pressedBut {
  background-color: blue;
  color: #fff914;
  padding: 13px;
  font-weight: 900;
}

.unpressedBut {
  background-color: #f2f2f2;
  color: #2c2e32;
  padding: 13px;
}

.TimeTable {
  align: center;
  text-align: center;
  border-style: solid;
  border-width: 3px;
  margin: 0 auto;

}

.flightDelay {
  color: #e22525;
}

.flightInTime {
  color: #2c2e32;
}

.oddRow {
  background-color: #f2f2f2;
}

.App {
  text-align: center;
}
